.ProductDetail {
    display: flex;
    background-color: rgb(87, 87, 87);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: auto;
    color: white;
}

.ProductImage {
    height: 400px;
    width: 350px;
}

.ItemDetailContainer {
    display: flex;
    justify-content: center;
    height: auto;
}